<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nusra.summer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".PatientDataInputActivity"
            android:label="@string/title_activity_patient_data_input"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserTypeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPageActivity"
            android:label="@string/title_activity_admin_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewPatientsActivity" />
        <activity android:name=".ViewDoctorsActivity" />
        <activity android:name=".ViewObserversActivity" />
        <activity
            android:name=".DoctorPageActivity"
            android:label="@string/title_activity_doctor_page"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ObserverPageActivity"
            android:label="@string/title_activity_observer_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatientExerciseActivity"
            android:label="@string/ExerciseDataAndHistory"
            android:parentActivityName=".PatientDataInputActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nusra.summer.PatientDataInputActivity" />
        </activity>
        <activity
            android:name=".PatientBGActivity"
            android:label="@string/title_activity_patient_bg"
            android:parentActivityName=".PatientDataInputActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nusra.summer.PatientDataInputActivity" />
        </activity>
        <activity
            android:name=".PatientMealActivity"
            android:label="@string/EnterCaloriesTaken"
            android:parentActivityName=".PatientDataInputActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nusra.summer.PatientDataInputActivity" />
        </activity>
        <activity android:name=".APatientRecordActivity" />
        <activity
            android:name=".Models.AddAPatientMedicalRecord"
            android:label="@string/title_activity_add_apatient_medical_record"
            android:parentActivityName=".APatientRecordActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nusra.summer.APatientRecordActivity" />
        </activity>
        <activity android:name=".AddPatientInfoForm"></activity>
    </application>

</manifest>